.div-time{
    background: url('../Image/background.jpg') no-repeat center center fixed ;
    background-size: cover;
    padding-top: 43px;
}
div .ver-div{
    background:transparent;
}
.sub-div-time{
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 54px;
    padding-bottom: 0;
    margin-bottom:0;   
}
#vertical-timeline-element-title-hd{
    padding-top: 2px;
    font-family: 'Reem Kufi', sans-serif;
    color:white
}
#vertical-timeline-element-subtitle-hd{
    font-family: 'Reem Kufi', sans-serif;
    color:white;
}
.timeline-para{
    font-family: 'Reem Kufi', sans-serif;
}

.timeline{
    font-size: 46px;
    font-family:'Abril Fatface', cursive;
    color:grey;
}
.medal{
    font-size: 24px;
    position: absolute;
}
